header{
    width:100%;
    background-image: url(https://github.com/torihito/tetsugakusuru-yoru/blob/main/img/0001.jpg?raw=true);
    background-size: cover;
    background-position: center;
}

.head_container{
    width: 1170;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header h1{
    text-shadow: 0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 30px #055aaa,
    0 0 40px #055aaa,
    0 0 50px #055aaa,
    0 0 60px #055aaa,
    0 0 70px #055aaa;
    font-size: 70px;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 50px;
    font-family:'Times New Roman', Times, serif;
}

.btn {
    display: inline;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.fa-brands {
    margin-right: 5px;
    
}

.fa-solid {
    margin-right: 5px;
}

.header ul {
    list-style-type: none;
}

.header ul li {
    padding-right: 60px;
}

.header ul li a {
    text-align: left;
    z-index: 3;
}

.header ul li a {
    text-decoration: none;
    color:peru; 
    text-align: left;
}

.fa-twitter {
    color: #55acee;
}

.fa-book-open{
    color: olivedrab;
}

.fa-user-plus {
    color: orange;
}

.fa-headphones {
    color: firebrick;
}

.header h2{
    text-shadow: 0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 30px #e76902,
    0 0 40px #e76902,
    0 0 50px #e76902,
    0 0 60px #e76902;    
    font-size: 25px;
    color: #ffffff;
    text-align: right;
    margin-right: 40px;
    font-family:'Times New Roman', Times, serif;
    
}

main {
    width: 1170;
    height: 3000px;
}

.about-detail{
    width: 100%;
}

main h2{
    border-bottom: 1px solid black;
    color: #000;  
    font-size: 45px;  
    margin-top: 140px;
    font-family:'Times New Roman', Times, serif;
}

main section ul p a {
    color:#000;
}

.sec-about h2{
    text-align: left;
    padding-left: 40px;
}

.sec-about-detail{
    display: flex;
}

.sec-about-detail img{
    width: 60%; 
    display: block;
    margin-left: 10%;
}

.sec-note h2{
    text-align: right;
    padding-right: 40px;
}

.sec-note-detail{
    display: flex;
    text-align: right;
    padding-right: 40px;
}

.sec-note-detail img{
    width: 60%; 
    display: block;
    margin-right: auto;
    margin-left: 5%;
   
}

.sec-team h2{
    text-align: left;
    padding-left: 40px;
}

.sec-team-detail{
    display: flex;
}

.sec-team-detail img{
    width: 60%; 
    display: block;
    margin-left: 10%;
}

.sec-radio h2{
    text-align: right;
    padding-right: 40px;
}

.sec-radio-detail{
    display: flex;
    text-align: right;
    padding-right: 40px;
}

.sec-radio-detail img{
    width: 60%; 
    display: block;
    margin-right: auto;
    margin-left: 5%;
}

p {
    margin: 15px;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.shadow {
    text-align: right;
    margin-left: 10%;
    padding-top: 20%;
}

.shadow p {
    color: #ffffff;
    
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family:'Times New Roman', Times, serif;
}

.shadow2 {
    text-align: left;
    width: 250px;
    margin-right: 10%;
    padding-top: 20%;
    
}

.shadow2 p {
    color: #ffffff;
    
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family:'Times New Roman', Times, serif;
}

#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #3f98ef;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #3f98ef;
  }

footer {
    margin-top: 100px;
    border-top: 1px solid rgb(122, 122, 122);
    padding-top: 30px;
    padding-bottom: 20px;
  }

footer p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.darkmode-toggle {
    z-index: 500;
  }
