body {
  font-family: "Avenir Next";
}

.title {
  font-size:36px;
  float:left;
  padding: 20px 40px;
}

.title{
  text-shadow: 0 0 10px #ffffff,
  0 0 20px #ffffff,
  0 0 30px #02014b,
  0 0 40px #02014b,
  0 0 50px #02014b,
  0 0 60px #02014b,
  0 0 70px #02014b;
  font-size: 60px;
  color: #ffffff;
}

main {
  background-color:#030303;
  height:600px;
}

h2 {
  padding-top: 3cm;
}

.right {
  float: right;
}

footer {
  background-color:#080364;
  height:270px;
}
